*{
    margin:0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 50px;
}

.container{
    margin: 0 auto;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 5px 5px 15px rgb(218, 210, 210);
    transition: 0.5s;

    font-size: 0px;
}
.container:hover{
    box-shadow: 10px 10px 25px rgb(145, 141, 141);
}




.container .cal-head #result{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 5px;
    letter-spacing: 2px;
}

.btn{
    width: 25%;
    height:80px;
    font-size: 20px;
    background-color: #1f2326;
    color: white;
    border: 1px solid white;
}

.btn-style{
    background-color: rgb(83, 43, 226);
}

.btn:hover{
    background-color: white;
    color: black;
}